@import "tailwindcss";
@import "tailwindcss";

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.3; }
  }
  .animate-fadeIn {
    animation: fadeIn 1s forwards;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }


  /* Tus estilos actuales */

/* Definición de la fuente Timeless */
@font-face {
  font-family: 'Timeless';
  src: url('/Timeless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Si necesitas variantes en peso o estilo */
@font-face {
  font-family: 'Timeless';
  src: url('/Timeless-Bold.ttf') format('truetype'); /* Si existiera esta variante */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

