@import "tailwindcss";

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 0.3; }
  }
  .animate-fadeIn {
    animation: fadeIn 1s forwards;
  }
  .delay-300 {
    animation-delay: 0.3s;
  }


  /* Tus estilos actuales */

/* Definición de la fuente Timeless */
@font-face {
  font-family: 'Timeless';
  src: url('/Timeless.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Si necesitas variantes en peso o estilo */
@font-face {
  font-family: 'Timeless';
  src: url('/Timeless-Bold.ttf') format('truetype'); /* Si existiera esta variante */
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* --font-display: "Timeless", "serif";
  --breakpoint-3xl: 120rem; */
  --color-primary-50: oklch(0.91 0.05 233.83);   /* A9D6E5 */
  --color-primary-100: oklch(0.85 0.08 235.46);  /* 89C2D9 */
  --color-primary-200: oklch(0.72 0.11 237.09);  /* 61A5C2 */
  --color-primary-300: oklch(0.63 0.12 239.54);  /* 468FAF */
  --color-primary-400: oklch(0.55 0.13 241.14);  /* 2C7DA0 */
  --color-primary-500: oklch(0.52 0.12 239.91);  /* 2A6F97 */
  --color-primary-600: oklch(0.42 0.13 243.28);  /* 014F86 */
  --color-primary-700: oklch(0.39 0.13 245.64);  /* 01497C */
  --color-primary-800: oklch(0.32 0.11 248.55);  /* 013A63 */
  --color-primary-900: oklch(0.24 0.10 250.46);  /* 012A4A */
  /* --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */
}

